body {
    position: absolute;
    margin: 0;
    background-color: #1F1F26;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    z-index:0;

}
header{
    /* position:absolute; */
    color: #3E424A;
    font-family: 'JetBrains Mono';
    font-size: 100pt;
    z-index: 2;
}
#everythingelse{
    z-index: -1;
    position:initial;
    height: 90vh;
    /* padding-bottom: 15pt; */
    /* display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;     */
}
#sidebar{
    z-index: inherit;
    /* margin-bottom: 20pt; */
    /* vertical-align: middle; */
    bottom:2vh;
    padding:15px;
    width: 280pt;
    height: 92vh;
    position: absolute;
    background-color: #09090fa2;
    /* display: flex;
    flex-direction: column;
    align-content:center; */
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    border-radius: 0px 15px 15px 0px; 
    border: 0px solid #800000;
}
#buttons{
    z-index: 3;
    width:275pt;
    height:85vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex:1
}
#buttons>button{
    position: relative;
    color:#ceceeb7c;
    left: 0pt;
    /* text-indtexent: 0pt; */
    font-family: 'Roboto Mono';
    font-weight: 200;
    font-style: italic;
    font-size: 28pt;
    background-color: #80000000;
    border: 0px solid;
    text-align: right;
    margin-top:1em;
}
#buttons>button:hover{
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    left: -5pt;

}
#spacer{
    flex-grow: 0.9;
    /* height:auto; */

}
#contact{
    margin-top: auto;
}
#entrydisplay{
    /* border: 1px solid white; */
    height:84vh;
    width: 75vw;
    position:relative;
    display:flex;
    flex-direction: column;
    flex:1;
    align-items:baseline;
    left: 2em;
    padding-left:50pt;
    padding-top:0px;
    
}
#entrydisplay>button{
    text-align: left;
    padding: 5pt;
    width: inherit;
    padding-left: 20pt;
    font-family: 'Roboto Mono';
    font-weight: 200;
    font-style: italic;
    font-size: 28pt;
    background-color: #80000000;
    border: 0px solid;
    border-radius:15px;
    position: relative;
    color:#ceceeb7c;
    text-transform: uppercase;
    margin-top:1em;


}
#entrydisplay>button:hover{
    transition-property: top, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    top: -5pt;
    background-color:#3f3f54;
    /* mix-blend-mode: ; */
}
label{
    background-color: #80000000;
    color:#ceceeb9f;
    font-family: 'Roboto Mono';
    font-weight: 200;
    font-style: italic;
    font-size: 28pt;

}
#sort{
    background-color: #80000000;
    color:#ceceeb9f;
    font-family: 'Roboto Mono';
    font-weight: 200;
    font-style: italic;
    font-size: 28pt;
    border: 0px solid;
}
option{
    appearance: none;
    background-color: #80000000;
    color:#ceceeb9f;
    font-family: 'Roboto Mono';
    font-weight: 200;
    font-style: italic;
}
